@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(177, 225, 225);
  margin: 2rem auto;
}

h1 {
  margin: 2rem auto;
}

h2 {
  margin: 2rem auto;
}
